{% extends 'base.html' %}
{% load static %}

{% block title %}User Preferences{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>User Preferences</h4>
                </div>
                <div class="card-body">
                    <p>This is a placeholder for the user preferences page. Customize this template to display and edit user preferences.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 